.cart-form .submit-button {
    background-color: aquamarine;
    margin-top: 30px;
    margin-left: 30px;
    width: 30%;
    height: 42px;
}

.cart-form .remove-button{
    position: absolute;
    right: 25px;
    top: 25px;
}

.cart-form .item-card {
    position: relative;
}